p{
    color:blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 100;
    text-decoration: underline;
    text-align: center;

}
p{
    color:green;
}